.background-image{
   
  background-image: url("../images/patrick-tomasso-NlcCPeKNmwg-unsplash.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
 opacity: 1;

}
