.background-image{
   
  background-image: url("/homepage-picture");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
 opacity: 1;

}

h1{
  font-size: 20em;
}
